langchain
langchain_community
langchain-tavily
langgraph
langchain-core
langchain-openai
langchain-chroma
langgraph-checkpoint-sqlite
chromadb

python-dotenv
langsmith
langgraph-cli[inmem]
bs4

fastapi
passlib
sqlmodel
itsdangerous
jinja2
python-multipart
bcrypt
markdown